<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Tipografía Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

    <!-- Link de íconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

   
    <!-- Estilos Propios -->
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/mediaQuery.css">
    
    
    <title>Document</title>
</head>
<body>
    <Header>
        <div class="top-header">
            <div class="logo-barra-container">
                <div class="logo-contenedor1">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
    </div>
    
                <nav class="barra-contenedor2">
                    <input type="text" placeholder="Buscar productos, marcas...">
                    <button><i class="fas fa-search"></i></button>
                </nav>
            </div>
    
            <nav class="compracuotas-contenedor3">
                <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.
                </h2>
            </nav>
            </div>
           <div class="listas">
                <ul>
                    <li> <a href="#Ofertas"> Ofertas</a></li>
                    <li> <a href="#Tiendas Oficiales"> Tiendas Oficiales</a></li>
                    <li> <a href="#Vender"> Vender</a></li>
                    <li> <a href="#Ayuda"> Ayuda</a></li>
                </ul>
    <ul>
                    <li><a href="#">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
    
    
                </ul>
        </div>
            <div class="container-burguer">
                <nav class="menu-burguer-contenedor6">
                    <i class="fas fa-bars"></i>
    
                </nav>
            </div>
        </Header>
    
<main>
</header>
<form action="/" method="POST" class="control-form-register">
    <div class="control">
        <input type="text" name="name" placeholder="Nombre y apellido" class="items-form">
    </div>
    <div class="control">
        <input type="text" name="username" placeholder="Nombre de usuario"class="items-form">
    </div>
    <div class="control">
        <input type="email" name="email" placeholder="E-mail" class="items-form">
    </div>
    <div class="control"><h2>Fecha de nacimiento</h2></div>
    <div class="control">
    <input type="date" name="birth date">
    </div>
    <div class="control">
        <input type="text" name="address" placeholder="Domicilio" class="items-form">
    </div>
    <div class="control"><h2>Perfil del usuario</h2></div>
    <div class="control">
        <input type="radio" name="perfil-usuario" id="comprador"> 
        <label for = "comprador">Comprador</label>
        <input type="radio" name="perfil-usuario" id="vendedor">
        <label for = "vendedor">Vendedor</label> 
    </div>
    <div class="control"><h2>Intereses</h2></div>
    <ul class="control">
        <li><input class="control" type="checkbox" name="intereses" id = "electro"><label for = "electro">Electro</label></li>
        <li><input class="control" type="checkbox" name="intereses" id = "moda"><label for = "moda">Moda</label></li>
        <li><input class="control" type="checkbox" name="intereses" id = "home"><label for = "home">Hogar</label></li>   
        <li><input class="control" type="checkbox" name="intereses" id = "play"><label for = "play">Jugueteria</label></li>   
        <li><input class="control" type="checkbox" name="intereses" id = "health"><label for = "health">Vida sana</label></li> 
    </ul>
    <div class="control"><h2>Adjuntar Foto</h2>
        <input type="file" name="photo" accept=".jpg, .png" class="control">
    </div>
    <div class="control">
        <input type="password" name="password" placeholder="Contraseña" class="items-form">
    </div>
    <div class="control">
        <input type="password" name="password" placeholder="Confirmar Contraseña" class="items-form">
    </div>
    
    <div class="control">
        <div class="button">
        <button type="submit" class="button1"><a href="/">Enviar</a></button>
        <button type="reset" class="button1">Borrar</button>
    </div></div>
</form>

</main>

<Footer>
    <div>
        <i class="fa-solid fa-credit-card"></i>
        <h3 class="Info-container"> Pagá con tarjeta o en efectivo</h3>
        <p class="footer-parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <i class="fa-sharp fa-solid fa-gift"></i>
        <h3 class="Info-container"> Envío gratis desde $ 2.500</h3>
        <p class="footer-parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div>
        <i class="fa-solid fa-user-shield"></i>
        <h3 class="Info-container"> Seguridad, de principio a fin</h3>
        <p class="footer-parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>
    <div>
        <h3 class="copy-container"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>



</Footer>



    </body>

</html>